/Cluster/.vagrant/
/Cluster/.metadata/
/Cluster/Application/
/Cluster/GAG\ Service\ Engine/target/
/Cluster/Specification
.metadata/
/Cluster/Tests/TestRunOut/specification/log.json

/.vagrant/
/.metadata/
/Application/
/GAG\ Service\ Engine/target/
/Specification
.metadata/
/Tests/TestRunOut/specification/log.json
